
body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
   color: #333;
    margin: 0;  
    padding: 0;
   
    
}
.bg-image{
    background-image: url("netflix.jpg");
    position: absolute;
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
header {
    background-color: 333;
    text-align: center;
    color: aqua;
    padding: 20px;
    
}

#poster-gallery img{
    width: 200px;
    margin: 10px;
    border-radius: 20px;
}

#characters{
    padding: 20px;
    color: aqua;
}

.character{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: aqua;
}

.character img{
   width: 150px;
   margin-right: 20px;
   opacity: 1;
}
.character img:hover{
    width: 150px;
    margin-right: 20px;
    opacity: 0.5;
 }

.bio h3{
    margin: 0;
}

#trailers{
    text-align: center;
    padding: 20px;
    color: aquamarine;
}

iframe{
    margin: 10px;
}

#quote{
    text-align: center;
    padding: auto;
    color: aqua;
}

#quiz{
    padding: 20px;
    color: aqua;
}
.quiz-question{
    margin-bottom: 20px;
}

button{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #0e6087;
}
